.header {
  background: rgba(16, 16, 16, 0.3) !important;
  backdrop-filter: blur(8px);
}

.navbar_Title {
  font-family: "Jaapokki subtract Regular";
  font-weight: 300;
  padding-top: 5px;
}

.navbtn {
  font-family: "Jaapokki Regular";
}

.drawer {
  opacity: 0.4;
}

.logo {
  width: 100px;
}

.footer {
  background: rgba(16, 16, 16, 0.3) !important;
  backdrop-filter: blur(8px);
}

.logoutIcon {
  cursor: pointer;
}
